# Any PR touching these paths must be approved by a 2nd (senior) human
# Works everywhere: in GitHub, GitLab, BitBucket ...

# GIT + Agent Settings
/.github/CODEOWNERS              @victorrentea/elders
/.claude/settings.json           @victorrentea/elders
/.github/workflows/ci.yml        @victorrentea/elders

# API Contracts
/openapi.yaml                    @victorrentea/elders

# Persistence
/DB.sql                          @victorrentea/elders
/petclinic-backend/src/main/resources/db/migration/ @victorrentea/elders

# Domain Model
/petclinic-backend/docs/generated/DomainModel.puml @victorrentea/elders

# Logical Architecture
/petclinic-backend/docs/packages.puml @victorrentea/elders
/petclinic-backend/docs/c4model.dsl   @victorrentea/elders

# Dependencies / SBOM
**/pom.xml      @victorrentea/elders
**/package.json @victorrentea/elders

