/.DS_Store

# petclinic-angular
petclinic-angular/dist
petclinic-angular/tmp
petclinic-angular/out-tsc
petclinic-angular/node_modules
petclinic-angular/.idea
petclinic-angular/.project
petclinic-angular/.classpath
petclinic-angular/.angular
petclinic-angular/.c9/
petclinic-angular/*.launch
petclinic-angular/.settings/
petclinic-angular/*.sublime-workspace
petclinic-angular/.vscode/*
!petclinic-angular/.vscode/settings.json
!petclinic-angular/.vscode/tasks.json
!petclinic-angular/.vscode/launch.json
!petclinic-angular/.vscode/extensions.json
petclinic-angular/.angular/cache
petclinic-angular/.sass-cache
petclinic-angular/connect.lock
petclinic-angular/coverage
petclinic-angular/libpeerconnection.log
petclinic-angular/npm-debug.log
petclinic-angular/testem.log
petclinic-angular/typings
petclinic-angular/e2e/*.js
petclinic-angular/e2e/*.map
petclinic-angular/.DS_Store
petclinic-angular/Thumbs.db
petclinic-angular/*.iml

# petclinic-rest
petclinic-rest/target
petclinic-rest/target/*
petclinic-rest/.settings/*
petclinic-rest/.classpath
petclinic-rest/.project
petclinic-rest/.idea
petclinic-rest/*.iml
petclinic-rest/generated/
petclinic-rest/springboot-petclinic-client/
petclinic-rest/springboot-petclinic-server/
petclinic-rest/.java-version
petclinic-rest/.DS_Store
petclinic-rest/.tool-versions
petclinic-rest/.factorypath
petclinic-rest/src/test/postman/reports/