<div class="container-fluid">
  <div class="container xd-container">
    <h2>Owners</h2>

    <form class="form-horizontal" id="search-owner-form" (ngSubmit)="searchOnEnter()">
      <div class="form-group" id="nameGroup">
        <label class="owner-search-label" for="name">Name</label>
        <div class="owner-search-input">
          <input class="form-control" size="30" maxlength="80" id="name" name="name" type="text"
                 [(ngModel)]="name" (input)="queueSearch(($any($event.target)).value)" (blur)="searchOnBlur()"
                 (keyup.enter)="searchOnEnter()" value=""/>
          <span class="help-inline"></span>
        </div>
      </div>
    </form>

    <div *ngIf="!owners">No owners with name containing "{{name}}"</div>
    <div class="table-responsive" id="ownersTable"  *ngIf="owners">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>Telephone</th>
          <th>Pets</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let owner of owners">
          <td class="ownerFullName"><a routerLink="/owners/{{owner.id}}" routerLinkActive="active"
                                       (click)="onSelect(owner)">{{ owner.firstName }} {{ owner.lastName }}</a></td>
          <td>{{ owner.address }}</td>
          <td>{{ owner.city }}</td>
          <td>{{ owner.telephone }}</td>
          <td>
            <ul class="list-unstyled">
              <li *ngFor="let pet of owner.pets">{{ pet.name }}</li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
      <div>
        <button *ngIf="isOwnersDataReceived" class="btn btn-default" (click)="addOwner()">Add Owner</button>
      </div>
    </div>
  </div>
</div>
