<div class="form-group has-feedback" [class.has-success]="date.dirty && date.valid"
    [class.has-error]="date.dirty && !date.valid">
  <label class="col-sm-2 control-label" for="visitDate">Date</label>
  <div class="col-sm-10">
    <input id="visitDate" matInput [matDatepicker]="visitDateDatepicker" required [ngModel]="value | date:'yyyy-MM-dd'"
          [min]="minVisitDate" [max]="maxVisitDate" name="date" #date="ngModel">
    <mat-datepicker-toggle matSuffix [for]="visitDateDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #visitDateDatepicker></mat-datepicker>
    <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="date.valid"
          [class.glyphicon-remove]="!date.valid" aria-hidden="true"></span>
    <span class="help-block" *ngIf="date.dirty && date.hasError('required')">Date is required</span>
    <span class="help-block" *ngIf="date.dirty && date.hasError('matDatepickerMin')">
      Date can't be before {{ pet.name }}'s birth date ({{ pet.birthDate }})</span>
    <span class="help-block" *ngIf="date.dirty && date.hasError('matDatepickerMax')">
      Date can't be more than 1 year in the future (after {{ maxVisitDateLabel }})</span>
  </div>
</div>
