<div class="form-group has-feedback" [class.has-success]="date.dirty && date.valid" [class.has-error]="date.dirty && !date.valid">
  <label class="col-sm-2 control-label">Date</label>
  <div class="col-sm-10">
    <input matInput [matDatepicker]="visitDateDatepicker" required [min]="minDate" [max]="maxDate" [ngModel]="value" name="date" #date="ngModel">
    <mat-datepicker-toggle matSuffix [for]="visitDateDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #visitDateDatepicker></mat-datepicker>
    <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="date.valid" [class.glyphicon-remove]="!date.valid" aria-hidden="true"></span>
    <span class="help-block" *ngIf="date.dirty && date.hasError('required')">Date is required</span>
    <span class="help-block" id="date-out-of-range" *ngIf="date.hasError('matDatepickerMin') || date.hasError('matDatepickerMax')">
      Date must be between {{ minDate | date:'yyyy-MM-dd' }} (the pet's birth date) and {{ maxDate | date:'yyyy-MM-dd' }}
    </span>
  </div>
</div>
