<div class="form-group has-feedback" [class.has-success]="date.dirty && date.valid" [class.has-error]="date.dirty && !date.valid">
  <label class="col-sm-2 control-label" for="date">Date</label>
  <div class="col-sm-10">
    <input id="date" matInput [matDatepicker]="visitDateDatepicker" required [ngModel]="value | date:'yyyy-MM-dd'" name="date" [min]="min" [max]="max" #date="ngModel">
    <mat-datepicker-toggle matSuffix [for]="visitDateDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #visitDateDatepicker></mat-datepicker>
    <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="date.valid" [class.glyphicon-remove]="!date.valid" aria-hidden="true"></span>
    <span class="help-block" *ngIf="date.dirty && date.hasError('required')">Date is required</span>
    <span class="help-block" id="date-min-error" *ngIf="date.hasError('matDatepickerMin')">Visit date cannot be before the pet's birth date ({{ birthDate }})</span>
    <span class="help-block" id="date-max-error" *ngIf="date.hasError('matDatepickerMax')">Visit date cannot be more than 1 year in the future</span>
  </div>
</div>
