<div class="form-group has-feedback" [class.has-success]="date.dirty && date.valid" [class.has-error]="date.dirty && !date.valid">
  <label class="col-sm-2 control-label" for="date">Date</label>
  <div class="col-sm-10">
    <input id="date" matInput [matDatepicker]="visitDateDatepicker" [min]="minDate" [max]="maxDate" required [ngModel]="visit.date | date:'yyyy-MM-dd'" name="date" #date="ngModel">
    <mat-datepicker-toggle matSuffix [for]="visitDateDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #visitDateDatepicker></mat-datepicker>
    <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="date.valid" [class.glyphicon-remove]="!date.valid" aria-hidden="true"></span>
    <span class="help-block" *ngIf="date.dirty && date.hasError('required')">Date is required</span>
    <span class="help-block" *ngIf="date.dirty && (date.hasError('matDatepickerMin') || date.hasError('matDatepickerMax'))">Date must be between {{ petBirthDate }} (pet's birth date) and {{ maxDate.format('YYYY-MM-DD') }}</span>
  </div>
</div>
<div class="form-group has-feedback" [class.has-success]="description.dirty && description.valid" [class.has-error]="description.dirty && !description.valid">
  <label class="col-sm-2 control-label" for="description">Description</label>
  <div class="col-sm-10">
    <input id="description" name="description" class="form-control" type="text" minlength="1" maxlength="255"
      required [(ngModel)]="visit.description" #description="ngModel"/>
    <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="description.valid" [class.glyphicon-remove]="!description.valid" aria-hidden="true"></span>
    <span class="help-block" *ngIf="description.dirty && description.hasError('required')">Description is required</span>
    <span class="help-block" *ngIf="description.dirty && description.hasError('minlength')">Description must be at least 1 characters long</span>
    <span class="help-block" *ngIf="description.dirty && description.hasError('maxlength')">Description may be at most 255 characters long</span>
  </div>
</div>
